<div>
    <div>
        {{!-- display the activity image, name and description of the activity --}}
        <img href="{{activityImageURL}}">
        <p>{{activityName}}</p>
        <p>{{activityDescription}}</p>

        <button class="saveActivity" data-id="{{this.id}}">SAVE</button>
    </div>
</div>


<div>
    <div>
        {{!-- display the restaurant image, name and description of the restaurant --}}
        <img href="{{restaurantPhoto}}">
        <p>{{restaurantName}}</p>
        <p>{{restaurantDescription}}</p>

        <button class="saveRestaurant" data-id="{{this.id}}">SAVE</button>
    </div>
</div>
